.wrap {
  width: 100vw;
  height: 100vh;
}
.wrap > .swiper-container {
  width: 100vw;
  height: 100vh;
}
.swiper-container > .swiper-wrapper {
  width: 100vw;
  height: 100vh;
}
.swiper-wrapper > .swiper-slide {
  width: 100vw;
  height: 100vh;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .four {
  position: relative;
}
.swiper-wrapper .four p {
  position: absolute;
  left: 2.46rem;
  bottom: 1.34rem;
  width: 2.58rem;
  height: 0.62rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}
