.banner-topic {
  width: 100vw;
  margin-bottom: 20px;
}
.banner-topic img {
  width: 100%;
}
section {
  padding: 1rem 0rem;
  background-color: #f1eef5;
  padding-bottom: 1.5rem;
}
.tabs {
  width: 100vw;
  background-color: #f1eef5;
}
.list {
  width: 6.92rem;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.list li {
  font-size: 0.4rem;
}
.all-topic {
  width: 2rem;
  height: 0.5rem;
  border-radius: 15px;
  text-align: center;
  line-height: 0.5rem;
  color: #fff;
  background-color: #000;
}
.paragraph {
  width: 6.92rem;
  height: 1.97rem;
  border-radius: 10px;
  background-color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: normal; */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 0.3rem;
  margin: 15px auto;
  padding: 5px 4px;
}
.tab:nth-child(2) {
  display: none;
}
.tab:nth-child(3) {
  display: none;
}
.tab:nth-child(4) {
  display: none;
}
